/* body {
    margin: 0;
    padding: 0;
} */

.calculator {
    height: 350px;
    width: 250px;
    /* background-color: magenta; */
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color:#d8e2dc;
}

.button {
    border: 1px solid white;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.operation {
    background-color: #ffe3e0;
}

#display {
    width: 75%;
    background-color: #e0fbfc;
    text-align: right;
    margin: 0;
    padding: 0;
}